/* GlideJS */
.glide__slide {
  text-align: center;
  padding: 10px;
}
.glide__slide img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.glide__bullets {
  text-align: center;
  margin-bottom: -45px !important;
}

.glide__bullet {
  background-color: #ccc !important;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  margin: 0 7px !important;
  cursor: pointer;
}
.glide__bullet--active {
  background-color: #333 !important;
}

.subtitle-portfolio {
  margin-top: -40px !important;
  color: black !important;
}

.hover-icons ul {
  display: flex;
  position: relative;
  gap: 25px;
}

.hover-icons ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  background: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.hover-icons ul li::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
}

.hover-icons ul li::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  transition: 0.5s;
  filter: blur(15px);
  z-index: -1;
  opacity: 0;
}

.hover-icons ul li:hover {
  width: 180px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.hover-icons ul li:hover::before {
  opacity: 1;
}

.hover-icons ul li:hover::after {
  opacity: 0.5;
}

.hover-icons ul li .icon {
  display: flex; /* Centrar el ícono */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  width: 100%; /* Ocupar todo el espacio del li */
  height: 100%; /* Ocupar todo el espacio del li */
}

.hover-icons ul li .icon-png {
  width: 40px; /* Aumentar el tamaño del ícono */
  height: 40px; /* Aumentar el tamaño del ícono */
  transition: 0.5s;
  transition-delay: 0.25s;
}

.hover-icons ul li:hover .icon-png {
  transform: scale(0);
  transition-delay: 0s;
}

.hover-icons ul li span {
  position: absolute;
}

.hover-icons ul li .title {
  color: #fff;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

.hover-icons ul li:hover .title {
  transform: scale(1);
  transition-delay: 0.25s;
}

.hover-icons {
  width: 100%; /* Asegura que ocupe el ancho completo */
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
}
.project-description {
  text-align: center;
}

.align-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Asegura que ocupe toda la altura */
  }
  
  .project-description {
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 20px; /* Espacio entre el párrafo y los íconos */
  }
  
  .hover-icons {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
  }
  